@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
--Blue: hsl(246, 80%, 60%);
--Light-orange: hsl(15, 100%, 70%);
--Soft-blue: hsl(195, 74%, 62%);
--Light-red: hsl(348, 100%, 68%);
--Lime-green: hsl(145, 58%, 55%);
--Violet: hsl(264, 64%, 52%);
--Soft-orange: hsl(43, 84%, 65%);
--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
--white: white;
}

body{
    background-color: var(--Very-dark-blue);
    font-family: 'Rubik', sans-serif;
    color: var(--Pale-Blue);
}



.main-container{
    width: 328px;
    margin: 58px auto;
    position: relative;
}


.main-card{
    background-color: var(--Dark-blue);
    border-radius: 16px;

}

.main-card__user{
    background-color: var(--Blue);
    display: flex;
    border-radius: 16px;
    padding: 30px;
}

.main-card__image{
    width: 72px;
    margin-right: 10px;
    border: 3px solid var(--white);
    border-radius: 50%;
}

.main-card__title{
  font-size: 0.9em;  
  margin: 10px 0px 4px;
}

.main-card__name{
    font-size: 1.5em;
    font-weight: 300;
    color: var(--white);
}

.main-card__dates{
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    font-size: 1em;

}

.main-card__frequency:hover{
    cursor: pointer;
    color: var(--white);
}

.second-section{
    margin-top: 25px;
}

.card{
    margin-top: 5px;
    margin-bottom: 120px;
    background-color: var(--Light-orange);
    border-radius: 16px;
    position: relative;
    
}

.card__background{
    height: 75px;
    
    padding-top: 10px;
    overflow: hidden;
}


.card__image{
    margin-top: -17px;
    padding-left: 235px;  
}

.card__details{
    background-color: var(--Dark-blue);
    display: flex;
    flex-direction: column;
    height: 122px;
    justify-content: space-between;
    padding: 25px;
    border-radius: 16px;
    margin-top: -33px;
    position: absolute;
    background-position-y: -10px;
    width: 100%;
}

.card__details:hover{
    background-color: var(--Desaturated-blue);
    cursor: pointer;
}

.card__activity, .card__time{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title{
    color: var(--white);
    font-weight: 500;
    font-size: 1.2em;
}

.card__hours{
    font-weight: 300;
    font-size: 2em;
    color: var(--white);
}

.card__previous{
    font-weight: 300;
}

.attribution { 
    font-size: 14px; 
    text-align: center;
    margin-bottom: 30px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/*Tamano grande*/

@media(min-width:1200px){

    .main-container{
        width: 1150px;
        display: flex;
        margin: 50px auto;
        padding-right: 80%;
    }



    .second-section{
        padding: auto;
        margin: auto;
        height: 564px;
        width: 860px;
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-card__user{
        padding-right: 90px;
        height: 340px;
        flex-direction: column;
    }

    .main-card__image{
        width: 85px;
        margin-bottom: 45px;
        
    }

    .main-card__name{
        font-size: 2.4em;
    }

    .main-card__title{
        font-size: 1em;
        
    }

    .main-card__dates{
        height: 192px;
        flex-direction: column;
        text-align: left;
        padding-left: 50px;
        align-items: flex-start;
        font-size: 1.2em;
        
    }

    .second-section{
        padding-left: 25px;
    }

    .card{
        margin-right: 25px;
        
    }

    .card__details{
        height: 202px;
        margin-bottom: 100px;
        margin-bottom: 10px;
    }

    .card__time{
        flex-direction: column;
        align-items: flex-start;
        height: 100px;
       
    }

    .card__hours{
        font-size: 3.5em;
        font-weight: 300;
    }

    .card__image{
        padding-left: 170px; 
    }

    .card__background{
        width: 270px;
    }

}




